<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ brand_name }} - {{ screen_title }}</title>
    <link href="{{ base_url }}/tabler/css/tabler.min.css" rel="stylesheet"/>
    <link href="{{ base_url }}/tabler/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="{{ base_url }}/tabler/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="{{ base_url }}/tabler/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="{{ base_url }}/tabler/css/demo.min.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    {% block additional_style %}{% endblock %}
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
    </style>
    <link rel='shortcut icon' type='image/x-icon' href='{{ base_url }}/assets/img/favicon.ico' />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{ base_url }}/site.webmanifest">
    <script src="{{ base_url }}/assets/js/alertifyjs/alertify.min.js"></script>
    <link  href="{{ base_url }}/assets/js/alertifyjs/css/alertify.min.css" rel="stylesheet"/>
    <link  href="{{ base_url }}/assets/js/alertifyjs/css/themes/default.min.css" rel="stylesheet"/>
    <script src="{{ base_url }}/global.js"></script>
  </head>
  <body  class="d-flex flex-column">
    <script src="{{ base_url }}/tabler/js/demo-theme.min.js"></script>
    <div class="page">
      <div class="container container-tight py-5">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="{{ base_url }}/assets/svg/logo-generic-with-company-name.svg" height="80" alt=""></a>
        </div>
        {% block page_content %}{% endblock %}
      </div>
    </div>
    <script src="{{ base_url }}/tabler/js/tabler.min.js" defer></script>
    <script src="{{ base_url }}/tabler/js/demo.min.js" defer></script>
    <script src="{{ base_url }}/assets/js/jquery-3.6.0.min.js"></script>
    {% block additional_js %}{% endblock %}
  </body>
</html>