                <li class="nav-item{% if active_menu == 'Home' %} active{% endif %}">
                  <a class="nav-link" href="{{ base_url }}/dashboard" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-home"></i>
                    </span>
                    <span class="nav-link-title">
                      Home
                    </span>
                  </a>
                </li>
                <li class="nav-item{% if active_menu == 'Cloud' %} active{% endif %}">
                  <a class="nav-link" href="{{ base_url }}/dashboard/media" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-cloud"></i>
                    </span>
                    <span class="nav-link-title">
                      Cloud Media
                    </span>
                  </a>
                </li>