{% extends "base_tabler.html" %}

{% set screen_title = 'My Profile' %}
{% set tabler_mode  = 'dashboard' %}

{% block main_menu %}
{% include "dashboard_main_menu.html" %}
{% endblock %}

{% block user_menu %}
{% include "dashboard_user_menu.html" %}
{% endblock %}

{% block page_content %}
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">My Profile</h3>
                </div>
                <div class="card-body">
                  <form id="my_profile_form">
                    <div class="row mb-3">
                        <div class="col-3"></div>
                        <div class="col-9">
				            <div class="alert alert-danger d-none" role="alert" id="errors">
							  <p id="error_messages"></p>
							</div>
						</div>
					</div>
                    <div class="form-group mb-3 row">
                      <label class="col-3 col-form-label required">First Name</label>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="John" name="first_name"  id="first_name" value="{{ user.first_name }}">
                      </div>
                    </div>
                    <div class="form-group mb-3 row">
                      <label class="col-3 col-form-label required">Last Name</label>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Smith" name="last_name"  id="last_name" value="{{ user.last_name }}">
                      </div>
                    </div>
                    <div class="form-group mb-3 row">
                      <label class="col-3 col-form-label required">Email address</label>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="name@domain.com" name="email"  id="email" value="{{ user.email }}">
                      </div>
                    </div>
                    <div class="form-group mb-3 row">
                      <label class="col-3 col-form-label required">2FA</label>
                      <div class="col">
                        <input type="hidden" name="2fa_secret" id="2fa_secret" value="{{ google_2fa_secret }}" />
                        <input type="hidden" name="2fa_url_qr" id="2fa_url_qr" value="{{ google_2fa_url_qr }}" />
                        <input type="hidden" name="hidden_2fa" id="hidden_2fa" value="{% if user.mfa_token is null %}0{% else %}1{% endif %}">
                        <input type='checkbox' id='user_2fa' enabled value="{% if user.mfa_token is not null %}checked{% endif %}" {% if user.mfa_token is not null %}checked{% endif %}>
                        <small class="form-hint">2FA requires the use of an Authenticator app</small>
                      </div>
                    </div>
                    <div class="form-group mb-3 row">
                      <label class="col-3 col-form-label">Password</label>
                      <div class="col">
                        <button type="button" class="btn btn-secondary ms-auto" onclick="change_password('{{ user_area }}');">Change Password</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-end">
                  <div class="d-flex">
                    <button type="button" class="btn btn-primary ms-auto" onclick="update('{{ user_area }}');">
                      Update
                      <span id="action_cog"></span>
                    </button>
                  </div>
                </div>
              </div>

<input type="hidden" name="old_password" id="old_password">
<input type="hidden" name="new_password" id="new_password">
<input type="hidden" name="confirmed_password" id="confirmed_password">
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ base_url }}/assets/js/switchery/dist/switchery.min.css">
{% endblock %}

{% block additional_js %}
<script src="{{ base_url }}/assets/js/switchery/dist/switchery.min.js"></script>
<script src="{{ base_url }}/assets/js/my-profile.js?v={{ version }}"></script>
{% endblock %}