{% extends "base_play.html" %}

{% block page_content %}
    <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h1 class="display-4 mb-2">
              Terms of Service
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-md-0">
              Updated 3/15/2019
            </p>

          </div>
          <div class="col-auto">
            
            <!-- Buttons -->
            <a href="#!" class="btn btn-primary-soft">
              Print
            </a>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Divider -->
            <hr class="my-6 my-md-8">

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-8">

            <!-- Text -->
            <p class="font-size-lg text-gray-800 mb-6 mb-md-8">
              Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim to always take care of both you, as a customer, or as a seller on our platform. 
            </p>
            
            <!-- Heading -->
            <h3 class="mb-5">
              1. Terms
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              By using {{ brand_name }} services or accessing the website at {{ base_url }}, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              2. Use License
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 mr-3">
                a.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                Permission is granted to temporarily download one copy of the materials (information or software) on {{ brand_name }}’ website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 ml-3 mr-3">
                i.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                modify or copy the materials;
              </p>

            </div>   
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 ml-3 mr-3">
                ii.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
              </p>

            </div> 
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 ml-3 mr-3">
                iii.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                attempt to decompile or reverse engineer any software contained on {{ brand_name }}’ website;
              </p>

            </div>   
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 ml-3 mr-3">
                iv.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                remove any copyright or other proprietary notations from the materials; or
              </p>

            </div>   
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 ml-3 mr-3">
                v.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                transfer the materials to another person or “mirror” the materials on any other server.
              </p>

            </div> 
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 mr-3">
                b.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                This license shall automatically terminate if you violate any of these restrictions and may be terminated by {{ brand_name }} at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
              </p>

            </div>                                                               
 
            <!-- Heading -->
            <h3 class="mb-5">
              3. Disclaimer
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 mr-3">
                a.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                The materials on {{ brand_name }}’ website are provided on an ‘as is’ basis. {{ brand_name }} makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
              </p>

            </div>
            
            <div class="d-flex">
                
              <!-- Badge -->
              <span class="badge badge-rounded-circle mt-1 mr-3">
                b.
              </span>

              <!-- Text -->
              <p class="text-gray-800">
                Further, {{ brand_name }} does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
              </p>

            </div>            
 
            <!-- Heading -->
            <h3 class="mb-5">
              4. Limitations
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              In no event shall {{ brand_name }} or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on {{ brand_name }}'s website, even if {{ brand_name }} or a {{ brand_name }} authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              5. Cloud Hosting Providers Fees
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              You agree that {{ brand_name }} is not responsible for any additional fees charged to your payment method by third-party cloud hosting providers.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              6. User Conduct
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              You are responsible for the actions of your account user(s) and any data created, stored, displayed by, or transmitted by your account user(s) while using {{ brand_name }}. You will not engage in any activity that interferes with or disrupts {{ brand_name }}' or its services.
            </p>
            
            <!-- Heading -->
            <h3 class="mb-5">
              7. Accuracy of materials
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              The materials appearing on {{ brand_name }} website could include technical, typographical, or photographic errors. {{ brand_name }} does not warrant that any of the materials on its website are accurate, complete or current. {{ brand_name }} may make changes to the materials contained on its website at any time without notice. However {{ brand_name }} does not make any commitment to update the materials.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              8. Links
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              {{ brand_name }} has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by {{ brand_name }} of the site. Use of any such linked website is at the user's own risk.
            </p>

            <!-- Heading -->
            <h3 class="mb-5">
              9. Modifications
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              {{ brand_name }} may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
            </p>
            
            <!-- Heading -->
            <h3 class="mb-5">
              10. Governing Law
            </h3>

            <!-- Text -->
            <p class="text-gray-800">
              These terms and conditions are governed by and construed in accordance with the laws of Brussels, Belgium and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
            </p>            
                                   
          </div>
          <div class="col-12 col-md-4">
            
            <!-- Card -->
            <div class="card shadow-light-lg">
              <div class="card-body">
                
                <!-- Heading -->
                <h4>
                  Have a question?
                </h4>

                <!-- Text -->
                <p class="font-size-sm text-gray-800 mb-5">
                  Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime!
                </p>

                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                  Call anytime
                </h6>

                <!-- Text -->
                <p class="font-size-sm mb-5">
                  <a href="tel:555-123-4567" class="text-reset">(555) 123-4567</a>
                </p>

                <!-- Heading -->
                <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                  Email us
                </h6>

                <!-- Text -->
                <p class="font-size-sm mb-0">
                  <a href="mailto:support@goodthemes.co" class="text-reset">support@goodthemes.co</a>
                </p>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}