{% set active_menu = 'Users' %}

{% extends "base_tabler.html" %}

{% set screen_title = 'Users List' %}

{% block page_title %}
Users
{% endblock %}

{% block main_menu %}
{% include "backoffice_main_menu.html" %}
{% endblock %}

{% block user_menu %}
{% include "backoffice_user_menu.html" %}
{% endblock %}

{% block page_content %}

    {% set table_id        = 'main_table' %}
    {% set table_columns   = users_table.columns %}
    {% set table_recordset = users_table.recordset %}
    {% set new_record_url  = users_table.new_record_url %}

    {% include 'base_table.html' %}

{% endblock %}

{% block additional_js %}
<script src="{{ base_url }}/assets/js/users.js?v={{ version }}"></script>
{% endblock %}