{% extends "base_email.html" %}

{% block paragraph_before %}
<p>Someone has requested to reset the password for your <strong>{{ brand_name }}</strong> account.</p>
<p>The request was made from IP address <strong>{{ ip_address }}</strong>. Escalate to the administrator if you did not made the request.</p>
<p>Please follow the link below to reset the password on your account.</p>
{% endblock %}

{% set button_label = 'Reset your password' %}
{% set button_url   = base_url ~ '/reset-password/' ~ token %}

{% block paragraph_after %}
<p>Be aware that your <strong>2FA</strong> code would not be reset, and you would need to ask an Administrator to reset <strong>2FA</strong> for you.</p>
<p>This link will expire in 30 minutes.</p>
<p>This is an automated email - do not reply.</p>
{% endblock %}